<html>
    <head>
      <meta charset="UTF-8">

      {% load staticfiles %}
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Portafolio de Servicios</title>
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{% static  'js/materialize.min.js' %}"></script>
      <script src="{% static 'js/init.js' %}"></script>
	    <script >
         $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });

      </script>




      <nav>
        <div class=" nav-wrapper indigo darken-4"><a href="#" class="brand-logo">Logo</a>
					<ul id="nav-mobile" class="side-nav indigo darken-4">
				<li><a class="white-text " onClick="location.href='/account/emprendedor/dashboard'"><img  class="responsive-img"  width="50" height="50" src="{% static 'images/logo-01.png' %}" align="center"></a></li>
				<li><div class="divider"></div></li>
                    <li><a class="white-text " onClick="location.href='/account/emprendedor/productos'"><img  class="responsive-img"  width="50" height="50" src="{% static 'images/portafolioDeServicios.png' %}" align="left">Portafolio de Servicios</a></li>
                    <li><a class="white-text " onClick="location.href='/account/emprendedor/misretos'"><img  class="responsive-img"  width="50" height="50" src="{% static 'images/MisRetos.png' %} " align="left">Mis Retos</a></li>
                    <li><a class="white-text " onClick="location.href='/account/emprendedor/equipo'"><img  class="responsive-img"  width="50" height="50" src="{% static 'images/MiEquipo.png' %} " align="left">Mi Equipo</a></li>
                    <li><a class="white-text " href=""><img  class="responsive-img"  width="50" height="50" src="{% static 'images/estadisticas.png' %}" align="left">Estadisticas</a></li>
      		</ul>
      		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>



           	<div class="row">
           	<div class="col s12 m4 l5 ">
				<ul></ul>


           	</div>
              <div>
                <ul class=" center hide-on-med-and-down">
                  <li><a class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicio" onClick="location.href='/account/emprendedor/dashboard'"><img class="responsive-img"  width="65" height="65" src="{% static 'images/inicio-01.png' %}"></a></li>
                  <li><a class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Portafolio de Servicios" onClick="location.href='/account/emprendedor/productos'"><img  class="responsive-img"  width="65" height="65" src="{% static 'images/portafolioDeServicios.png' %}"></a></li>
                  <li><a class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Mis Retos"  onClick="location.href='/account/emprendedor/misretos'"><img class="responsive-img"  width="65" height="65" src="{% static 'images/MisRetos.png ' %}"></a></li>
                  <li><a class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Mi Equipo" onClick="location.href='/account/emprendedor/equipo'"><img class="responsive-img"  width="65" height="65" src="{% static 'images/MiEquipo.png' %}"></a></li>
                  <li><a class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Estadisticas"  href=""><img class="responsive-img"  width="65" height="65" src="{% static 'images/estadisticas.png' %}"></a></li>
                </ul>
              </div>

              <ul id="" class="right hide-on-med-and-down">


                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Emprendedor<i class="material-icons right">arrow_drop_down</i></a></li>
              </ul>

              <ul id="dropdown1" class="dropdown-content">
                <li><a href="#!">Log de actividad</a></li>
                <li><a href="#!">Ayuda</a></li>
                <li class="divider"></li>
                <li><a href="http://cc.simultech.com.co/materialize/bienvenida.html">Cerrar Sesion</a></li>
              </ul>





            </div>


        </div>



      </nav>
      <nav class="hoverable">
        <div class="nav-wrapper blue-grey lighten-5">
          <div class="row">
            <div class="s1 m6 l3">
              <ul class="left hide-on-med-and-down">
                <li><a href="#!" class="brand-logo blue-text text-darken-2">Portafolio de Servicios</a></li>
              </ul>
            </div>


            <div class="s12 m6 l3 ">


            </div>

          </div>


        </div>
    </nav>
    <br></br>

      <div class="row">
          <div class="row">
                <div class="col s12 m12 l12">

                  <div class="card-panel white hoverable">
                  <div class="row">

                      {% block content %}
                        <form method="post">{% csrf_token %}
                          <!-- Modal Agregar Area -->
                          <div id="modal1" >
                            <div>
                              <h4 class="center">Agregar Producto</h4>

                              <div class="row">
                                <div class="col s12 m8 l8">

                                    <div class="row">
                                        <div class="input-field col s10 offset-s1 offset-m1 offset-l1 ">
                                          <input id="nombre" type="text" class="validate" name="nombre">
                                          <label class="active" for="nombre">Nombre del Producto</label>
                                        </div>
                                      </div>

                                      <div class="row">
                                            <div class="col s12">
                                              <div class="row">
                                                <div class="input-field col s10 offset-s1 offset-m1 offset-l1 ">
                                                  <textarea id="descripcion" class="materialize-textarea" name="descripcion"></textarea>
                                                  <label for="descripcion">Descripcion del Producto</label>
                                                </div>
                                              </div>
                                            </div>
                                      </div>


                                    <div class="row center hide-on-med-and-down" >



                              </div>


                                </div>
                                    <div class="col s10 m3 l3 offset-s1 center">
                                        <h4>Agregar Imagen</h4>
                                        <input type="file" id="input-file-now" class="dropify" data-default-file="" name="ruta_imagen"   accept="image/*" />
                                        <br>
                                    </div>
                              </div>



                            </div>
                            <div class=" center">
                              <a onClick="location.href='/account/emprendedor/productos'" class="waves-effect waves-light btn #283593 indigo darken-3 ">Cancelar</a>
                              <button type="submit" class="waves-effect waves-light btn #283593 indigo darken-3">Agregar</button>
                            </div>
                          </div>

                        </form>
                        {% endblock %}

                  </div>
                  </div>
                </div>
              </div>


      </div>

    </body>
  </html>