<html>
    <head>
      <meta charset="UTF-8">
        {% load staticfiles %}
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Mi Retos</title>
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{% static  'js/materialize.min.js' %}"></script>
      <script src="{% static 'js/init.js' %}"></script>





      <nav>
        <div class="nav-wrapper indigo darken-4"><a href="#" class="brand-logo">Logo</a>
					<ul id="nav-mobile" class="side-nav indigo darken-4">
						<li><a class="white-text " onClick="location.href='/account/emprendedor/dashboard'"><img  class="responsive-img"  width="50" height="50" src="{% static 'images/logo-01.png' %}" align="center"></a></li>
						<li><div class="divider"></div></li>
                            <li><a class="white-text " onClick="location.href='/account/emprendedor/productos'"><img  class="responsive-img"  width="50" height="50" src="{% static 'images/portafolioDeServicios.png' %}" align="left">Portafolio de Servicios</a></li>
                            <li><a class="white-text " onClick="location.href='/account/emprendedor/misretos'"><img  class="responsive-img"  width="50" height="50" src="{% static 'images/MisRetos.png' %} " align="left">Mis Retos</a></li>
                            <li><a class="white-text " onClick="location.href='/account/emprendedor/equipo'"><img  class="responsive-img"  width="50" height="50" src="{% static 'images/MiEquipo.png' %} " align="left">Mi Equipo</a></li>
                            <li><a class="white-text " href=""><img  class="responsive-img"  width="50" height="50" src="{% static 'images/estadisticas.png' %}" align="left">Estadisticas</a></li>
      		        </ul>
      		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>



           	<div class="row">
           	<div class="col s12 m4 l5 ">
				<ul></ul>


           	</div>
              <div >
                <ul class=" center hide-on-med-and-down">
                  <li><a class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicio" onClick="location.href='/account/emprendedor/dashboard'"><img class="responsive-img"  width="65" height="65" src="{% static 'images/inicio-01.png' %}"></a></li>
                  <li><a class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Portafolio de Servicios" onClick="location.href='/account/emprendedor/productos'"><img  class="responsive-img"  width="65" height="65" src="{% static 'images/portafolioDeServicios.png' %}"></a></li>
                  <li><a class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Mis Retos"  onClick="location.href='/account/emprendedor/misretos'"><img class="responsive-img"  width="65" height="65" src="{% static 'images/MisRetos.png ' %}"></a></li>
                  <li><a class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Mi Equipo" onClick="location.href='/account/emprendedor/equipo'"><img class="responsive-img"  width="65" height="65" src="{% static 'images/MiEquipo.png' %}"></a></li>
                  <li><a class=" tooltipped" data-position="bottom" data-delay="50" data-tooltip="Estadisticas"  href=""><img class="responsive-img"  width="65" height="65" src="{% static 'images/estadisticas.png' %}"></a></li>



                </ul>
              </div>

              <ul id="" class="right hide-on-med-and-down">


                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Emprendedor<i class="material-icons right">arrow_drop_down</i></a></li>
              </ul>

              <ul id="dropdown1" class="dropdown-content">
                <li><a href="#!">Log de actividad</a></li>
                <li><a href="#!">Ayuda</a></li>
                <li class="divider"></li>
                <li><a href="http://cc.simultech.com.co/materialize/bienvenida.html">Cerrar Sesion</a></li>
              </ul>





            </div>


        </div>



    </nav>
    <nav class="hoverable">
        <div class="nav-wrapper blue-grey lighten-5">
          <div class="row">
            <div class="s1 m6 l3">
              <ul class="left hide-on-med-and-down">
                <li><a href="#!" class="brand-logo blue-text text-darken-2">Mi Equipo</a></li>
              </ul>
            </div>




          </div>
        </div>
    </nav>
    <br></br>
    <div id="test1" class="col s12">
    	<div class="row">

		    <div class="col s10  m6 l5 offset-l1 offset-m1 offset-s1 ">
		        <div class="card-panel white hoverable">
		            <span class="card-title center #283593 indigo-text text-darken-3"><h5></h5></span>
		            <li class="divider"></li>
		            <ul class="collection">
		                <li class="collection-item avatar">
		                  <img src="{% static 'images/reto-01.png' %}" alt=""  class="circle " >
		                  <span class="title">Has agregado el reto </span>
		                  <a href="#!" class="primary-content"><i class="">####</i></a>
		                </li>

		                <li class="collection-item avatar">
		                  <img src="{% static 'images/enviadoreto-01.png' %}" alt="" class="circle">
		                  <span class="title">Has enviado el reto</span>
		                  <a href="#!" class="primary-content"><i class="">####</i></a>
		                </li>

		                <li class="collection-item avatar">
		                  <img src="{% static 'images/insignia1-01.png' %}" alt="" class="circle">
		                  <span class="title">Has alcanzado la insignia</span>
		                  <a href="#!" class="primary-content"><i class="">####</i></a>
		                </li>
		               	<li class="collection-item avatar">
		                  <img src="{% static 'images/insignia2-01-01.png' %}" alt="" class="circle">
		                  <span class="title">Has alcanzado la insignia</span>
		                  <a href="#!" class="primary-content"><i class="">####</i></a>
		                </li>

		            </ul>

		            <p class="center"><a href="#">Mas Actividad Reciente</a></p>
		        </div>
		    </div>
		    <div class="col s12  m6 l5  ">

		    </div>
		</div>
	</div>

    <div id="test2" class="col s12">
    	<div class="row">

		    <div class="col s10 m10 l10 offset-l1 offset-m1 offset-s1 ">
		        <div class="card-panel white hoverable">
		            <span class="card-title center #283593 indigo-text text-darken-3"><h5>Retos</h5></span>
		            <li class="divider"></li>
		                <table>
							<thead>
							  <tr>
							      <th>Nombre del Reto</th>
							      <th>Fase</th>
							      <th>Area-Responsable</th>
							      <th>Estado</th>
							  </tr>
							</thead>

							<tbody>
							  <tr>
							    <td>Reto 1</td>
							    <td>Exploracion</td>
							    <td>Talento Humano</td>
								<td>Completado</td>
							  </tr>
							  <tr>
							    <td>Reto 2</td>
							    <td>Consolidacion</td>
							    <td>Secretaria</td>
								<td>En proceso</td>
							  </tr>
							  <tr>
							    <td>Reto 3</td>
							    <td>Consolidacion</td>
							    <td>Archivo</td>
								<td>Por Evaluar</td>
							  </tr>

							   <tr>
							    <td>Reto 4</td>
							    <td>Descubrimiento</td>
							    <td>Internalizacion</td>
								<td>Completado</td>
							  </tr>

							</tbody>
						</table>

		            <p class="center"><a href="#">Ver todos los retos</a></p>
		        </div>
		    </div>
		    <div class="col s6  m6 l5  ">

		    </div>
		</div>
	</div>


    </body>
  </html>