<!DOCTYPE html>

{% load staticfiles %}

  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
       <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Bienvenida  - CoCreation</title>
    </head>

    <body>


            <div class="row ">
                  <div class="col s12 m12 l12">
                        <div class="card-panel teal">
                              <span class="white-text valign">I am a very simple card. I am good at containing small bits of information.
                              I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                              </span>
                        </div>
                  </div>
            </div>





      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    </body>
  </html>
